.ipynb_checkpoints/ 
**.py.swp
**.py.swn
**.py.swm
**.py.swo
**.pyc
**.orig
**.pkl

photo-stim/data_paths.json

data_paths.json

*.egg

popoff/popoff.egg-info/dependency_links.txt

popoff/popoff.egg-info/PKG-INFO

popoff/popoff.egg-info/
